<?php

set_include_path( "/path/to/html" );

require_once( "includes/classes/Database.php" );

try
{
	$db_manager = new DatabaseManager();
	$db_manager->initialize();

	$db_weeks	= $db_manager->weeks();
	$current	= $db_weeks->Current();

	if ( !$db_weeks->Load( $current, $week ) )
	{
		return;
	}

	$week[ 'locked' ] = 1;

	$db_weeks->Update( $week );

}
catch ( Exception $e )
{
	print( $e );
	exit( 1 );
}
