<?php

set_include_path( '/path/to/html' );

require_once( 'includes/classes/Database.php' );

try
{
	$db_manager = new DatabaseManager();
	$db_manager->initialize();

	$db_manager->sessions()->Delete_All_Expired();
}
catch( Exception $e )
{
	print( $e );
	exit( 1 );
}
