<?php

set_include_path( "/path/to/html" );

require_once( "includes/classes/Database.php" );
require_once( "includes/classes/functions.php" );

try
{
	$db_manager = new DatabaseManager();
	$db_manager->initialize();

	$db_games	= $db_manager->games();
	$db_teams	= $db_manager->teams();
	$db_users	= $db_manager->users();
	$db_weeks	= $db_manager->weeks();
	$data		= json_decode( file_get_contents( sprintf( 'https://site.api.espn.com/apis/site/v2/sports/football/nfl/scoreboard?week=%d', $db_weeks->Previous() ) ) );
	$week_id	= $data->week->number;

	if ( !$db_weeks->IsLocked( $week_id ) )
	{
		exit( 0 );
	}

	foreach ( $data->events as $event )
	{
		$competition	= $event->competitions[ 0 ];
		$team1			= $competition->competitors[ 0 ];
		$team2			= $competition->competitors[ 1 ];

		if ( $team1->homeAway == 'home' )
		{
			$home = $team1;
			$away = $team2;
		}
		else
		{
			$home = $team2;
			$away = $team1;
		}

		if ( !$db_teams->Load_Abbr( $home->team->abbreviation, $homeTeam ) ||
			 !$db_teams->Load_Abbr( $away->team->abbreviation, $awayTeam ) )
		{
			continue;
		}

		if ( !$db_games->Load_Week_Teams( $week_id, $awayTeam[ 'id' ], $homeTeam[ 'id' ], $game ) )
		{
			continue;
		}

		if ( !$competition->status->type->completed )
		{
			continue;
		}

		$away_score = $away->score;
		$home_score = $home->score;

		if ( $home_score == $away_score )
		{
			$game[ 'tied' ]		= 1;
			$game[ 'winner' ]	= 0;
			$game[ 'loser' ]	= 0;
		}
		else
		{
			$game[ 'tied' ]		= 0;
			$game[ 'winner' ] 	= ( $home_score > $away_score ) ? $homeTeam[ 'id' ] : $awayTeam[ 'id' ];
			$game[ 'loser' ]	= ( $home_score > $away_score ) ? $awayTeam[ 'id' ] : $homeTeam[ 'id' ];
		}

		$game[ 'homeScore' ]	= $home_score;
		$game[ 'awayScore' ]	= $away_score;
		$game[ 'final' ]		= 1;

		$db_games->Update( $game );
	}

	$db_teams->Recalculate_Records();
	Functions::Update_Records( $db );
}
catch( Exception $e )
{
	print( $e );
	exit( 1 );
}
